html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* margin: 1em; */
}
body::-webkit-scrollbar {
  width: 0.7rem;
}
body::-webkit-scrollbar-track {
  background-color: #DDD;
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
}
h1 {
  font-size: 2.7rem;
  font-weight: 700;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
h5 {
  font-size: 1.0rem;
}
/* section {
  width: 100vw;
} */
#search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE;
}
#today-section-container {
  background-image: linear-gradient(110deg, rgb(19, 92, 226), rgb(0, 171, 201));
  color: white; 
}
#today-section {
  width: 70vw;
  margin: 0 auto;
  height: 50vw;
  /* padding: 10rem 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
#current-weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#hourly-forecast {
  margin: 2.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#hourly-forecast-container {
  max-width: 63%;
  overflow-x: scroll;
}
#hourly-forecast-container::-webkit-scrollbar {
  height: 0.4rem;
}
#hourly-forecast-container::-webkit-scrollbar-track {
  background-color: #DDD;
}
#hourly-forecast-container::-webkit-scrollbar-thumb {
  background-color: #333;
}
#info-section {
  background-color: #EEE;
}
#info {
  width: 50vw;
  padding: 4rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info-unit {
  text-align: center;
}
.info-data {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}
.info-label {
  font-size: 1rem;
}
/* #daily-section {
  
} */
#search {
  margin: 2rem 0;
}
#cw-location {
  margin-bottom: 0.7rem;
}
#cwi-condition {
  margin-bottom: 0.1rem;
}
#cwi-feels-like {
  margin-bottom: 0.4rem;
}
#cwi-as-of {

}
#cw-emoji {
  margin-right: 1.5rem;
  font-size: 4rem;
}
.hf-hour {
  display: inline-block;
  text-align: center;
  min-width: 4.5rem;
}
.hf-img {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.hf-temp {
  position: relative;
  left: 0.05rem;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: 0.2rem;
}
.hf-time {
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
}